<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>START</title>
  <meta name="description" value="The search engine that doesn't track you. Learn More.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/colors.css">
  <link rel="stylesheet" type="text/css" href="static/css/modal.css">
  <link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="icon" type="image/png" href="static/img/se.png">
</head>
<body>
  <div class="index">
    <section class="index__header">
      <div class="index__logo"></div>
      <div class="index__search">
        <form class="index__form" action = "/search" method = "post">
          <div>
            <input name="srch" type="text" placeholder="Search..."
                   class="index__query" 
                   maxlength="512"
                   autocomplete="off"
                   title="Search"
                   aria-label="Search"
                   dir="ltr"
                   spellcheck="false"
                   autofocus="autofocus"
            >
          </div>
          <button class="index__button" aria-label="Search" type="submit">
            <div class="index__ico"></div>
          </button>
        </form>
		
      </div>
	  
    </section>
	</div>
  {% block content %}
  {% if search_results %}
  
  <td>

  <div class="section" >
    {% if search_results.meta.page.total_results == 0 %}
    <div class="container">
        <h2>Found {{ search_results.meta.page.total_results }} results for  "{{ query }}"</h2>
    </div>
	</td>
    {% else %}
	<div class="container">
        <h2>Found {{ search_results.meta.page.total_results }} results for  "{{ query }}"</h>
		<span class="bg">
        <table>            
            {% for document in search_results.results %}
            <tr>
                <td>
					<p>
					<a href="{{ document.url.raw }}">{{ document.title.raw }}</a>
                    <p>{{ document.body_content.raw|replace("Home Search Menu Boise Global Navigation Apply Visit Give Menu Ready to take the next step?", "")|replace("Skip to main content","")|replace("Plan your virtual visit", "") }}</p>
					</p>
                </td>
            </tr>
            {% endfor %}
        </table>
		</span>
    </div>
	{% endif %}
    
</div>
</div>

{% endif %}
{% endblock %}
    <footer class="index__footer">
      <div class="index__bottom">
        <ul class="index__links">        
          <li><a href="#about">About</a></li>
          <li><a href="https://www.boisestate.edu/">Boisestate.edu</a></li>
        </ul>
      </div>
    </footer>
  </div>
  <!-- Modal -->
  <div class="modal" id="about" aria-hidden="true">
    <div class="modal__dialog">
      <div class="modal__header">
        <h2>About</h2>
        <a href="#" class="modal__close" aria-hidden="true">×</a>
      </div>
      <div class="modal__body">
        <strong>CS471 Team 5</strong><br>
        <p>Our goal this semester was to create a search engine. We chose to make an engine that searches over the domain of Boisestate.edu.</p>
		<ul><h3>Team Members:</h3></ul>
		<ul>Jeff Allen</ul>
		<ul>Josh Coward</ul>
		<ul>Zahra Rahmani</ul>
		<ul>Jacob Uzabel</ul>
      </div>
    </div>
  </div>
  <!-- /Modal -->
</body>
</html>
