/* screen - index */

.index {
  background-color: rgba(60,62,78,1.0);
  height: 1024px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.index .grommet-iconshome-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 1318px;
  overflow: hidden;
  pointer-events: auto;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  width: 39px;
}
.index .grommet-iconshome-C61RwL:hover {

transform: scale(0.9); 
}
.index .grommet-iconsmenu-C61RwL {
  background-color: transparent;
  height: 46px;
  left: 1373px;
  overflow: hidden;
  pointer-events: auto;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  width: 46px;
}
.index .grommet-iconsmenu-C61RwL:hover {

transform: scale(0.9); 
}
.index .rectangle-2-C61RwL {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.index .search-bar-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 349px;
  position: absolute;
  top: 190px;
  width: 675px;
}
.index .search-bar-text-field-C61RwL {
  background-color: transparent;
  border: 0;
  height: 47px;
  left: 377px;
  padding: 0;
  position: absolute;
  resize: none;
  top: 190px;
  width: 647px;
}
.index .vector-C61RwL {
  background-color: transparent;
  height: 47px;
  left: 1023px;
  pointer-events: auto;
  position: absolute;
  top: 190px;
  transition: all 0.2s ease;
  width: 69px;
  border: none;
}

.index .vector-rQT0Fu {
  background-color: transparent;
  height: 30px;
  left: 3px;
  position: absolute;
  top: 8px;
  width: 40px;
  border: none;
}
.index .vector-xM6Xgb {
  background-color: transparent;
  height: 38px;
  left: -2px;
  position: absolute;
  top: 1px;
  width: 43px;
  border: none;
}

.vector-C61RwL:hover {
	transform: scale(0.9); 
}

